# O NOME DO ARQUIVO DEVE SER `.gitignore` (ATENTE-SE AO PONTO NO INÍCIO)

# VSCode repo settings
.vscode
node_modules/
sd-0x-block10-project-shopping-cart-tests/
cypress/
forestadmin/
cypress.json
reporter.json

