.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.queryInput {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  width: 500px;
}

.icon {
  height: 25px;
  width: auto;
}
