.products-cart {
  align-items: center;
  display: flex;
  margin: 20px;
}

.remove-item {
  margin-right: 5px;
}

.product-image {
  align-items: center;
  margin-left: 10px;
}

.product-name {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 5px;
  text-align: start;
  width: 600px;
}

.product-quantity {
  margin-left: 10px;
  margin-right: 10px;
}

.product-price {
  margin-left: 25px;
}

.total-price {
  align-items: flex-start;
  display: flex;
  font-size: 25px;
  margin-left: 20px;
  
}

.checkout {
  align-items: flex-start;
  display: flex;
  margin-left: 20px;
  margin-top: 35px;
}
