body {
  background-color: rgb(253 , 251 , 251);
  border: 0;
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icones li {
  display: inline-block;
}

.menu ul li {
  display: inline;
}

a {
  margin-left: 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  border-bottom: 2px solid red;
  color: white;
  list-style: none;
  text-decoration: none;
}

.cabecalho {
  background-color: green;
  margin: auto;
  position: fixed;
  width: 100%;
}

.titulo {
  color: white;
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.minha_foto {
  border-radius: 10px 50px;
  margin-left: 20px;
  margin-top: 115px;
}

h2 {
  margin-left: 20px;
}

.container {
  display: flex;
  margin-bottom: auto;
  margin-left: 40px;
  margin-top: 30px;
}

.licoes_aprendidas {
  font-size: 15px;
  line-height: 1.4em;
  margin-left: 30px;
}

.licoes_a_aprender {
  font-size: 15px;
  line-height: 1.4em;
  margin-left: 40px;
}

.licoes {
  font-size: 18px;
}

.container-dois {
  display: flex;
  margin-bottom: auto;
}

.lado-esquerdo {
  font-size: 20px;
  line-height: 1.5em;
  margin-left: 20px;
  margin-top: 10px;
  width: 65%;
}

.lado-direito {
  color: darkslategray;
  line-height: 1.3em;
  margin-left: 30px;
  margin-top: 50px;
  text-align: center;
  width: 20%;
}

.rodape {
  background-color: darkgreen;
  color: lightgrey;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin: auto;
  padding: 0;
}

.icones {
  text-align: end;
  width: 85%;
}

.final {
  background-color: darkgreen;
  color: lightgrey;
  font-size: 13px;
  margin: auto;
  margin-left: 10px;
  padding-bottom: 5px;
}
