body {
  background-color: lightyellow;
  margin-left: 20px;
}

button {
  background-color: darkorange;
  border: 1px solid lightblue;
  border-radius: 4px;
  color: black;
  margin-top: 20px;
  padding: 5px 6px;
}

button:hover {
  background-color: lightsalmon;
  border: 1px solid lightblue;
  border-radius: 4px;
  color: black;
  padding: 5px 6px;
}

.carta-gerada {
  margin-top: 50px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('./images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
